.mediumCard {
  background: #ffffff;
  /* shadow */

  box-shadow: 6px 6px 30px rgba(98, 113, 165, 0.1);
  border-radius: 5px;
  width: 250px;
  height: 270px;
  @media screen and(max-width:1024px) {
    width: 300px;
    height: 120px;
  }
}
.landing {
  width: fit-content !important;
}
